<!DOCTYPE html>
<html>

<head>
  <meta charset="UTF-8">
  <title>
    {% block title %}{{ title }}{% endblock %}
  </title>

  {% for style in css %}
  <link rel="stylesheet" type="text/css" href="{{ style }}" />
  {% endfor %}
  {% for js in javascript %}
  <script type="text/javascript" src="{{ js }}"></script>
  {% endfor %}
</head>

<body class="w-100 h-100">
  <div class="overlap"></div>
  <div class="login">
    <div class="p-2 bd-highlight">
    <h6 id="main_heading">{{ heading }}</h6>
    <form action="login.php" method="POST">
      <table>
        <tr>
          <td>
            <label for="name" title="Login:">{{ user_name }}</label>
          </td>
          <td><input id="name" name="login" type="text" value="" /></td>
        </tr>
        <tr>
          <td>
            <label for="pass" title="Password:">{{ password }}</label>
          </td>
          <td><input id="pass" name="pass" type="password" value="" />
            <input name="act" type="hidden" value="login" /></td>
        </tr>
      </table>
      <td>
        <button class="btn btn-primary" type="submit" value="enter">{{ enter }}</button>
      </td>
      {% if fail %}
      <td>
        <p>{{ wrong_login }}</p>
      </td>
      {% endif %}
    </form>
  </div>
  </div>
</body>

</html>