{% set page_name = 'index' %}
{% extends "base.html.twig" %}
{% block title %}{{ title }}{% endblock %}
{% block body %}
<h2>{{ heading }}</h2>

<div class="w-100">
  <div id="map"></div>
</div>

<div class="w-100">
  <div class="row navbar_color control_bar p-2">
    <div class="col">
      <div class="cmb_inlineb">
        <form class="form-inline">
          <input class="form-control mr-sm-2 js_search_input" type="search" value="{{ filter }}" placeholder="{{ search }}" aria-label="Search">
          <button type="button" class="btn js_search"> <i class="fas fa-search" style="color: white;"></i></button>
        </form>
        {% if (sort is not empty or filter is not empty) %}
          <button type="button" class="clickResetSort btn btn-outline-secondary ml-5">{{ reset_sort|upper }}</button>
        {% endif %}
      </div>
      <button class="js_new_farmer_show float-right btn btn-primary" data-userid="0" data-formheader="{{ new_farmer_header }}">{{ new_farmer|upper }}</button>
    </div>
  </div>
  <div class="js_new_farmer_inputs box_dropdown">
    <h2 id="js_fi_header">{{ new_farmer_header }}</h2>
    <form id="new_farmer_form" method="POST" action="index.php">
    <input type="hidden" name="act" id="js_fi_act" value="new_farmer">
    <input type="hidden" name="user_id" id="js_fi_uid" value="0">
    <table class="form_table">
      <thead>
        <tr>
          <td><label>{{login}}</label><input id="js_fi_login" type="text" name="login" required></td>
          <td class="pass_input"><label>{{password}}</label><input id="js_fi_pass" type="password" name="password" required><span class="show_password"><i class="fas fa-eye"></i></span></td>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td><label class="not_required">{{name}}</label><input id="js_fi_name" type="text" name="name"></td>
          <td><label class="not_required">{{surname}}</label><input id="js_fi_surname" type="text" name="surname"></td>
        </tr>
        <tr>
          <td><label class="not_required">{{email}}</label><input id="js_fi_email" type="email" name="email"></td>
          <td></td>
        </tr>
        <tr>
          <td><label class="not_required">{{ji}}</label><input id="js_fi_in" type="number" name="identification_number"></td>
          <td><label class="not_required">{{vat}}</label><input id="js_fi_vat" type="text" name="vat"></td>
        </tr>
        <tr>
          <td>
            <button class="js_new_farmer btn btn-primary" type="submit">{{ save|upper }}</button>
            <button class="js_button_close_farmer_edit btn btn-outline-secondary" type="button">{{ close|upper }}</button>
          </td>
          <td></td>
        </tr>
      </tbody>
    </table>
    </form>
  </div>
  <div class="table_cont">
    <table class="w-100 table float-md-left js_table table_responsive">
      <thead>
        <tr>
          <th class="clicksort {{ attribute(sort, 'u.id') }}" data-field="u.id"><span class="sortflag"><i class="fas fa-arrow-circle-down"></i></span>{{ id }}</th>
          <th class="clicksort {{ attribute(sort, 'u.name') }}" data-field="u.name"><span class="sortflag"><i class="fas fa-arrow-circle-down"></i></span>{{ name }}</th>
          <th class="clicksort {{ attribute(sort, 'u.surname') }}" data-field="u.surname"><span class="sortflag"><i class="fas fa-arrow-circle-down"></i></span>{{ surname }}</th>
          <th class="clicksort {{ attribute(sort, 'u.identification_number') }}" data-field="u.identification_number"><span class="sortflag"><i class="fas fa-arrow-circle-down"></i></span>{{ ji }}</th>
          <th>{{ tasks_count_text }}</th>
          <th>{{ photos_count_text }}</th>
          <th>{{ unassigned_photos_count_text }}</th>
          <th>{{ tasks_provided_count_text }}</th>
          {% if agency %}
            <th>{{ action }}</th>
          {% endif %}
        </tr>
      </thead>
      <tbody>
      </tbody>
    </table>
  </div>
</div>
<script src="https://unpkg.com/@google/markerclustererplus@5.1.0/dist/markerclustererplus.min.js"></script>

<script async defer src="https://maps.googleapis.com/maps/api/js?key={{ map_api_key }}&libraries=geometry"></script>
<!--Created for the GSA in 2020-2021. Project management: SpaceTec Partners, software development: www.foxcom.eu-->
{% endblock %}
