{% for user in users %}
  <tr class="clickable" id="{{ user.id }}">
    <td class="js_farmer_tasks" data-href="{{ user.id }}">{{ user.id }}</td>
    <td class="js_farmer_tasks" data-href="{{ user.id }}">{{ user.name }}</td>
    <td class="js_farmer_tasks" data-href="{{ user.id }}">{{ user.surname }}</td>
    <td class="js_farmer_tasks" data-href="{{ user.id }}">{{ user.identification_number }}</td>
    <td class="js_farmer_tasks" data-href="{{ user.id }}">{{ user.tasks_count }}</td>
    <td class="js_farmer_tasks" data-href="{{ user.id }}">{{ user.photos_count }}</td>
    <td class="js_farmer_tasks" data-href="{{ user.id }}">{{ user.unassigned_photos_count }}</td>
    <td class="js_farmer_tasks" data-href="{{ user.id }}">{{ user.tasks_provided_count }}</td>
    {% if agency %}
      <td><button type="button" class="js_button_open_user_edit btn btn-secondary" data-userid="{{ user.id }}" data-userlogin="{{ user.login }}" data-username="{{ user.name }}" data-usersurname="{{ user.surname }}" data-useremail="{{ user.email }}" data-uservat="{{ user.vat }}" data-userin="{{ user.identification_number }}" data-formheader="{{ edit_farmer_header }}">{{ edit_user }}</button></td>
    {% endif %}
  </tr>
{% endfor %}
