{% set page_name = 'user_paths' %}
{% extends "base.html.twig" %}
{% block title %}{{ title }}{% endblock %}
{% block body %}
<h2>{{ heading }}</h2>
<div>
  <a href="{{ ret_url }}" class="btn btn-primary text-capitalize">{{ back|upper }}</a>
</div>

<div class="float-left w-100 mt-2 mb-2">
  <div id="map"></div>
  <input type="hidden" class="js_search_input" value="{{ user_id }}">
</div>
<div class="table_cont">
  <table class="w-100 table float-md-left js_table table_responsive">
    <thead>
      <tr>
        <th>{{ path_name }}</th>
        <th>{{ path_area }}</th>
        <th>{{ path_start }}</th>
        <th>{{ path_end }}</th>
        <th>{{ path_device }}</th>
        {% if show_visible_checkbox %}
          <th>{{ path_show }}</th>
        {% endif %}
        <th>{{ path_actions }}</th>
      </tr>
    </thead>
    <tbody>
    {% for path in paths %}
      <tr>
        <td data-label="{{path_name}}" class="td_name">{{ path.name }}</td>
        <td data-label="{{path_area}}">{{ path.area }} m&sup2;</td>
        <td data-label="{{path_start}}">{{ path.start }}</td>
        <td data-label="{{path_end}}">{{ path.end }}</td>
        <td data-label="{{path_device}}">{{ path.device }}</td>
        {% if show_visible_checkbox %}
          <td data-label="{{path_show}}"><input class="form-check-input js_path_show_on_map" type="checkbox" data-path_id="{{ path.id }}"></td>
        {% endif %}
        <td data-label="{{path_actions}}"><div class="js_path_delete" data-path_db_id="{{ path.id }}"><i class="fas fa-trash"></i> {{ path_delete }}</div></td>
      </tr>
    {% endfor %}
    </tbody>
  </table>
</div>

<script src="https://unpkg.com/@google/markerclustererplus@5.1.0/dist/markerclustererplus.min.js"></script>

<script async defer src="https://maps.googleapis.com/maps/api/js?key={{ map_api_key }}&callback=initMap&libraries=geometry"></script>

<!--Created for the GSA in 2020-2021. Project management: SpaceTec Partners, software development: www.foxcom.eu-->
{% endblock %}
