{% extends "task/task.html.twig" %}
{% block galery %}
<!-- Page Content -->
<div class="container">
  <div class="row">
    <div class="row w-100">
      {% for image in images %}
      <div class="col-lg-6 col-md-5 col-xs-6 thumb">
        <a class="thumbnail" href="#" data-image-id="" data-toggle="modal" data-title=""
          data-image="{{ image.path }}{{ image.file_name }}" data-target="#image-gallery">
          <img id="photo_{{ image.id }}" data-photo_db_id="{{ image.id }}" data-rotation="{{ image.rotation }}" style="transform: rotate({{ image.rotation }}deg);" class="img-thumbnail" src="{{ image.path }}{{ image.file_name }}">
        </a>
        <div class="js_photo_metadata_popup">
          <!--<label><b>{{ photo_meta_head }}</b></label>-->
          <label title="{{ pht_lat_title }}">{{ pht_lat }}: {{ image.lat }}</label>
            <label title="{{ pht_lng_title }}">{{ pht_lng }}: {{ image.lng }}</label>
            <label title="{{ pht_alt_title }}">{{ pht_altitude }}: {{ image.altitude }}</label>
            <label title="{{ pht_azimuth_title }}">{{ pht_azimuth }}: {{ image.azimuth }}</label>
            <label title="{{ pht_angle_title }}">{{ pht_angle }}: {{ image.photo_angle }}</label>
            <label title="{{ pht_note_title }}">{{ pht_note }}: {{ image.note }}</label> 
            <label></label>                         
            <label title="{{ pht_device_title }}">{{ pht_device }}: {{ image.device }}</label>
            <label title="{{ pht_accuracy_title }}">{{ pht_accuracy }}: {{ image.accuracy }}</label>            
            <label title="{{ pht_distance_title }}">{{ pht_distance }}: {{ image.distance }}</label>  
            <label></label>             
            <label title="{{ pht_timestamp_title }}">{{ pht_timestamp }}: {{ image.timestamp }}</label>
            <label title="{{ pht_created_date_title }}">{{ pht_created_date }}: {{ image.created_date }}</label>
            <label></label>
          {% if agency %}
            <label title="{{ flg_checked_location_title }}" class="text_color_{{ image.flg_checked_location }}">
              {% if image.flg_checked_location is same as(1) %}
                {{ pht_checked_location_ok }}
              {% elseif  image.flg_checked_location is same as(0) %}
                {{ pht_checked_location_fail }}
              {% else %}
                {{ pht_checked_location_notvf }}
              {% endif %}
            </label>
            <label title="{{ flg_original_title }}" class="text_color_{{ image.flg_original }}">
              {% if image.flg_original is same as(1) %}
                {{ pht_original_ok }}
              {% elseif  image.flg_original is same as(0) %}
                {{ pht_original_fail }}
              {% else %}
                {{ pht_original_notvf }}
              {% endif %}
            </label>
          {% endif %}
          <div class="js_photo_rotate">
            <div class="js_photo_rotate_left" data-pht_id="photo_{{ image.id }}"><i class="fas fa-sync"></i> {{ pht_rotate_left }}</div>
            <div class="js_photo_rotate_right" data-pht_id="photo_{{ image.id }}"><i class="fas fa-sync"></i> {{ pht_rotate_right }}</div>
          </div>
        </div>
      </div>
      {% endfor %}
    </div>

    <div class="modal fade w-100" id="image-gallery" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
      aria-hidden="true">
      <div class="modal-dialog modal-lg">
        <div class="modal-content">
          <div class="modal-header">
            <h4 class="modal-title" id="image-gallery-title"></h4>
            <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">×</span><span
                class="sr-only"></span>
            </button>
          </div>
          <div class="modal-body">
            <a id="image-gallery-zoom" href="" target="_blank">
              <img id="image-gallery-image" data-photo_db_id="0" data-rotation="0" class="img-responsive col-md-12" src="">
            </a>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary float-left" id="show-previous-image"><i
                class="fa fa-arrow-left"></i>
            </button>
            <div class="js_photo_rotate">
              <div class="js_photo_rotate_left" data-pht_id="image-gallery-image"><i class="fas fa-sync"></i> {{ pht_rotate_left }}</div>
              <div class="js_photo_rotate_right" data-pht_id="image-gallery-image"><i class="fas fa-sync"></i> {{ pht_rotate_right }}</div>
            </div>
            <button type="button" id="show-next-image" class="btn btn-secondary float-right"><i
                class="fa fa-arrow-right"></i>
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}
