{% set page_name = 'task' %}
{% extends "base.html.twig" %}
{% block title %}{{ title }}{% endblock %}
{% block body %}
  <h2>{{farmer_name}} {{ header }}</h2>
  <a href="{{ ret_url }}" class="btn btn-primary text-capitalize">{{ back|upper }}</a>
  <input type="hidden" id="farmer_id" value="{{ farmer_id }}">
  <div class="table_cont">
    <table class="w-100 table table_responsive">
      <thead>
        <tr>
          <th>{{ status }}</th>
          {% if agency %}
            <th>{{ photos_verified }}</th>
          {% endif %}
          <th>{{ type }}</th>
          <th>{{ name }}</th>
          <th>{{ note }}</th>
          <th>{{ description }}</th>
          <th>{{ note_returned }}</th>
          {% if tasks[0].flag_id == 2 %}
            <th>{{ note_declined }}</th>
          {% endif %}
          <th>{{ created }}</th>
          <th>{{ due_date }}</th>
          <th style="min-width:200px;">{{ action }}</th>
        </tr>
        </thead>
        <tbody>
        {% for task in tasks %}
          <tr class="js_task_id" data-href="{{ task.id }}">
            <td data-label="{{status}}">{{ task.status }}</td>
            {% if agency %}
              <td class="js_task_detail" data-label="{{photos_verified}}" data-href="{{task.id}}">
              {% if attribute(tasks_verified, task.id) == 'verified' %}
                <i class="fas fa-check text_color_1"></i>
              {% elseif  attribute(tasks_verified, task.id) == 'not_verified' %}
                <i class="fas fa-times text_color_0"></i>
              {% endif %}
              </td>
            {% endif %}
            <td data-label="{{type}}" class="td_name">{{ task.type_name }}</td>
            <td data-label="{{name}}">{{ task.name }}</td>
            <td data-label="{{note}}">{{ task.note }}</td>
            {% autoescape 'html' %}
              <td data-label="{{description}}">{{ task.text|raw }}</td>
            {% endautoescape %}
            <td data-label="{{note_returned}}">{{ task.text_returned }}</td>
            {% if task.flag_id == 2  %}
              <td data-label="{{note_declined}}">{{ task.text_reason }}</td>
            {% endif %}
            <td data-label="{{created}}">{{ task.date_created }}</td>
            <td data-label="{{due_date}}">{{ task.task_due_date }}</td>
            <input type="hidden" value="{{ task.id }}" class="js_search_input">
            <td data-label="{{action}}">
              {% if agency %}
                {% if task.flag_id == 1 %}
                  <div class="btn btn-success" >{{ ack }}</div>
                {% elseif  task.flag_id == 2 %}
                  <div class="btn btn-danger" >{{ decline }}</div>
                {% elseif  task.status == 'data provided' %}
                  <a class="btn btn-success js_ack tt" ><i class="fas fa-check"></i><span class="tt_body">{{ tooltip_task_ack }}</span></a>
                  <a class="btn btn-danger js_decline tt"><i class="fas fa-times"></i><span class="tt_body">{{ tooltip_task_decline }}</span></a>
                  <a class="btn btn-danger js_return tt"><i class="fas fa-reply"></i><span class="tt_body">{{ tooltip_task_return }}</span></a>
                {% endif %}
                {% if task.status == 'new' and show_trash %}
                  <a class="btn btn-danger js_delete tt"><i class="fas fa-trash"></i><span class="tt_body">{{ tooltip_task_delete }}</span></a>
                {% endif %}
              {% endif %}
              {% if task.status == 'new' %}
                <a class="btn btn-success js_move_from_open tt"><i class="fas fa-sign-out-alt"></i><span class="tt_body">{{ tooltip_task_move_from_open }}</span></a>
              {% endif %}
              {% if task.status == 'open' %}
                <a class="btn btn-success js_move_from_open tt"><i class="fas fa-sign-out-alt"></i><span class="tt_body">{{ tooltip_task_move_from_open }}</span></a>
              {% endif %}
              {% if task.status == 'returned' %}
                <a class="btn btn-success js_move_from_open tt"><i class="fas fa-sign-out-alt"></i><span class="tt_body">{{ tooltip_task_move_from_open }}</span></a>
              {% endif %}
            </td>
          </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>
  {% block galery %}
  {% endblock %}

  <script src="https://unpkg.com/@google/markerclustererplus@5.1.0/dist/markerclustererplus.min.js"></script>
  <script async defer src="https://maps.googleapis.com/maps/api/js?key={{ map_api_key }}&callback=initMap&libraries=geometry"></script>
  <!--Created for the GSA in 2020-2021. Project management: SpaceTec Partners, software development: www.foxcom.eu-->
{% endblock %}
